* {
    font-family: 'Barlow', sans-serif;
}

/*Navbar*/
.logo {
    font-family: 'Barlow Bold', sans-serif;
    font-size: xx-large;
    letter-spacing: 1.2pt;
    font-weight: 700;
    color: #ec9400;
}
.logo:hover{
    text-decoration: none;
    color: #ec9400;  
}
.links {
    font-size: large;
    margin-right: 2em;
}
.links:hover {
    text-decoration: none;
    color: #ec9400;  
}

/*Footer*/
.footer-distributed {
  background-color: black;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding:  15px 25px;
}
.footer-distributed .footer-left{
    margin-top: 10px;
}
.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
}
.footer-distributed p.footer-links {
  font-size: 18px;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}
.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}
.footer-distributed p.footer-links a:hover {
    text-decoration:none;
    color: #ec9400;
}
.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}
.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color:black;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 10px;
  transition:all .25s;
}
.footer-distributed .footer-right img {
    margin-top: -10px;
    margin-left: 10px;
}
.footer-distributed .footer-right a:hover {
    transform:scale(1.1); 
    -webkit-transform:scale(1.1);
    color: #ec9400;
}

/* Página Principal */
.pagP {
    overflow: hidden;
}

.inicial {
    background-image: url("Imgs/pi.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 91vh;
    width: 100vw;
}

.final {
    background-image: url("Imgs/imgfooter.jpg");
    background-size: 100% auto;
    background-position: 0 -250px;
    min-height: 90vh;
    width: 100vw;
}

.P_Ini_Logo{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 4vw;
}

.P_Ini_texto{
    float: left;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
    color: white;
    font-size: 50px;
    line-height: 120%;
}
.P_Ini_button{
    float: left;
    font-family: 'Barlow', sans-serif;
    position: relative;
    top: 41%;
    text-transform: uppercase;
    transform: translateY(-41%);
    background-color: #ec9400;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 70px 15px 70px;
    overflow: hidden;
    transition: all 0.4s ease-in-out 0s;
    letter-spacing: 0.5px;
}
.P_Ini_button_P{
    float: left;
    font-family: 'Barlow', sans-serif;
    background-color: #ec9400;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 70px 15px 70px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    margin-top: 15px;
}

.Cartoon{

}
.Cartoon2{
    margin: auto auto auto 4vw;
    z-index: 2;
    position: relative;
}
.Cartoon3{
    float: right;
    margin: auto 4vw auto auto;
    position: relative;
    z-index: 1;
}
.Cartoon4{
    margin: auto auto auto 4vw;
    position: relative;
    z-index: 1;
}

.texto{
    margin: auto;
}

.texto2{
    margin: auto;
}

.Texto_P_Princ{
    font-size: 17px;
}

.conteudo1 {
    background-color: white;
    padding: 30px 0 30px 0;
}

.conteudo2 {
    background-color: #f2f2f2;
    padding: 30px 0 30px 0;
}

/* Página de vendas */

.Img_Vendas{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5vw;
}
.cenas{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.Body_Vendas {
    height: 80vh;
    width: 100vw;
}

.Texto_Vendas{
    margin: auto;
}

.Titulo_Vendas{
    font-size: 120px;
    font-weight: bold;
}

.Subtitulo_Vendas{
    margin-top: -20px;
    font-size: 40px;
}

.Texto_Vendas_2{
    margin-top: 20px;
    font-size: 18px;
}

/* Filtros */

.filtros{
    max-width: 100vw;
    background-color: white;
    font-size: x-large;
    color: black;
    font-family: 'Barlow Semibold', sans-serif;
    height: 10vh;
    -webkit-box-shadow: 0px 10px 56px -16px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 10px 56px -16px rgba(0,0,0,0.31);
    box-shadow: 0px 10px 56px -16px rgba(0,0,0,0.31);
    text-align: center;
}

.item_Filtro{
    font-family: 'Barlow Semibold', sans-serif!important;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
    /*border-right: black solid 2px;*/
}
.item_Filtro2{
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Barlow Semibold', sans-serif!important;
}


/* Projetos */
.Proj_Body{
    width: 100vw;
    min-height: 79.6vh;
    background-color: #f2f2f2;
}

.Proj_Info{
    margin-bottom: 0;
    padding-bottom: 0;
}

.Proj_Info2{
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 0;
}

.Proj_Info3{
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 0;
}

.card_Projetos{
    min-height: 200px;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: none;
    border: 0!important;
    background-image: url("Imgs/entrar_registo.jpg");
    background-size: 100% 100%;
}

.card_blur{
    position: absolute;
    height: 100%;
    width: calc(100% + 1px);
    background-color: black;
    opacity: 0;
    transition: opacity 0.15s ease-in;
}

.card_Projetos:hover .card_blur {
    opacity: 0.5;
}

.card_body1{
    opacity: 0;
    background: none;
    color: white;
}

.card_Projetos:hover .card_body1{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    opacity: 1;
    transition: 0.5s;
    z-index: 1;
}


/* Detalhes dos Projetos */
.Proj_Det_Body{
    width: 100vw;
    background-color: #f2f2f2;
}

.Proj_Det_Conteudo{
    background-color: white;
    padding: 1.5rem;
}

.Proj_Det_Titulo{
    display: flex;
}

.Proj_Det_Titulo1{
    font-family: 'Barlow Bold', sans-serif!important;
}

.Proj_Det_Subtitulo{
    display: flex;
}

.Proj_Det_Subtitulo_Parte2{
    position: relative;
    float: right;
    margin-left: auto;
    text-align: end;
}

.Areas_Trabalho_Proj_Det{
    background-color: #f2f2f2;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Barlow Semibold', sans-serif;
}

.hr{
    background-color: #ec9400;
}

.Proj_Det_Likes{
    display: flex;
}
.Proj_Det_Nr_Likes{
    font-family: 'Barlow Semibold', sans-serif;
    font-size: 87px;
    margin-top: -17px;
    padding: 0;
}

.Proj_Det_Texto{
    font-size: 18px;
    font-family: "Barlow Semibold", sans-serif;
}

.Proj_Det_Info1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Proj_Det_Info_Texto{
    font-size: 21px;
}

.Proj_Det_Info_Texto2{
    color: #797c80;
}

.Proj_Det_Texto_Registar{
    font-size: 19px;
}

/* SignIn */
.noscroll {
    font-family: 'Barlow', sans-serif;
    overflow: hidden;
}
.fundo {
    background-image: url("Imgs/entrar_registo.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 91vh;
    width: 100vw;
}
.box {
    color: black;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.boxIn {
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 11px 11px 38px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 11px 11px 38px 0px rgba(0,0,0,0.30);
    box-shadow: 11px 11px 38px 0px rgba(0,0,0,0.30);
}

.titulo {
    color: #f29f05;
    font-family: 'Barlow ExtraBold', sans-serif;
    font-size: 24pt;
}
.bemvindo {
    font-size: 13pt;
}
.line{
    border-top: 1px solid #f29f05;
}

/* label color */
.input-field input[type]:not([readonly]),
.input-field input[type]:focus:not([readonly]),
.input-field textarea:not([readonly]),
.input-field textarea:focus:not([readonly]) {
    border-bottom: 1px solid #000000;
    box-shadow: 0 1px 0 0 #000000;
}

.input-field input[type]:focus:not([readonly])+label,
.input-field textarea:focus:not([readonly])+label {
    color: #F27405;
}

.btnIn{
    background-color: #f29f05 !important;
    border-radius: 4px;
    color: white !important;
}
.btnIn:hover {
    background-color: #F27405 !important;
}

/* Escolha */

.escolha {
    color: black;
    font-family: "Barlow Medium", sans-serif;
    font-size: 14pt;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
    border: 2px solid #F27405;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
    background-color: #F27405;
}



/* Profissional */
.area {
    margin-top: 70px;
    margin-bottom: 70px;
}

.registo{
    margin-top: 100px;
    margin-bottom: 100px;
}

.aparece {
    display: inline;
}

.of {
    overflow: auto;
    justify-content: right;
}
.f {
    float: right;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 20px;
    width: 20px;
    margin: 0 6px;
    background-color: rgb(255, 133, 0);
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Sobre */

.bg {
    background-color: #f2f2f2;
}
.t1sobre {
    font-family: "Barlow ExtraBold", sans-serif;
}
.s1sobre {
    font-family: "Barlow ExtraBold", sans-serif;
    color: #f29f05;
    letter-spacing: 1.2pt;
    text-transform: uppercase;
}
.t2sobre {
    font-family: "Barlow ExtraBold", sans-serif;
}
.nickname {
    font-family: "Barlow ExtraBold", sans-serif;
    text-transform: uppercase;
    color: #f29f05;
}
.nsobre {
    font-family: "Barlow Medium", sans-serif;
    text-transform: uppercase;
    color: #8f9296;
}
.fsobre {
    font-family: "Barlow", sans-serif;
    font-size: 20px;
}
.s2sobre {
    font-family: "Barlow SemiBold", sans-serif;
}

/* Perfil */
.Perfil_Body{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.Perfil_Inicial{
    min-height: 100vh;
    width: auto;
    background-color: #ec9400;
}

.Perfil_Info_Inicial{
    background-color: white;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 3rem;
    padding-bottom: 3rem;
    -webkit-box-shadow: 7px 9px 13px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: 7px 9px 13px -1px rgba(0,0,0,0.51);
    box-shadow: 7px 9px 13px -1px rgba(0,0,0,0.51);
}

.Perfil_Info_Inicial_Esq{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Perfil_Info_Inicial_Dir{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Perfil_But_Seguir{
    float: left;
    font-family: 'Barlow', sans-serif;
    background-color: #ec9400;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 50px;
}

.Perfil_Localizacao{
    font-family: 'Barlow Semibold', sans-serif;
    font-size: 20px;
    margin-left: 7px;
}
.Icone_Localizacao{
    position: relative;
    bottom: 5px;
}

.Perfil_Info_Intro{
    font-family: 'Barlow Semibold', sans-serif;
    font-size: 30px;
}
.Perfil_Info_Nome{
    font-family: 'Barlow ExtraBold', sans-serif;
    font-size: 40px;
    margin-top: -15px;
    margin-bottom: 20px;
}
.Perfil_Info_Trabalho{
    margin-bottom: 25px;
    color: #ec9400;
}
.Perfil_Info_Texto{
    font-size: 18px;
    font-family: "Barlow Semibold", sans-serif;
}
.Perfil_Info_Areas{
    color: #797c80;
    font-size: 14px;
    font-family: "Barlow Semibold", sans-serif;
}
.Foto_Perfil{
    width: auto;
    height: 300px;
    border-radius: 10px;
    margin-top: -70px;
    -webkit-box-shadow: 10px 10px 20px -3px rgba(0,0,0,0.42);
    -moz-box-shadow: 10px 10px 20px -3px rgba(0,0,0,0.42);
    box-shadow: 10px 10px 20px -3px rgba(0,0,0,0.42);
}
.Perfil_Seguidores{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Projetos_seccao1{
    display: none!important;
}

.Seguidores{
    font-family: 'Barlow Bold', sans-serif;
    font-size: 20px;
}
.Texto_Seguir{
    font-family: 'Barlow Semibold', sans-serif;
    font-size: 12px;
    margin-top: -5px;
}
.Perfil_Website{
    font-size: 18px;
    font-family: 'Barlow Semibold', sans-serif;
    color: #ec9400;
}

.Perfil_Projetos{
    height: auto;
    width: 100vw;
    background-color: #f2f2f2;
}

.Separador_Projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Adicionar_Projeto{
    height: 200px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: none;
    border: 0!important;
    background-color: #ec9400;
    border-radius: 5px;
}

.Alinhamento_Titulo{
    position: relative;
    top: 40%;
    transform: translateY(-40%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Titulo_But_Adicionar_Projeto{
    text-align: center;
    color: white;
    font-family: 'Barlow Semibold', sans-serif;
}

.Titulo_But_Adicionar_Projeto_2{
    text-align: center;
    color: white;
    font-family: 'Barlow Semibold', sans-serif;
    font-size: 50px;
}

.Perfil_Info_Projetos{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.Perfil_Testemunhos{
    height: auto;
    width: 100vw;
    background-color: #ec9400;
}

.Perfil_Info_Testemunhos{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.Testemunhos_Esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Titulo_Testemunhos{
    font-family: 'Barlow ExtraBold', sans-serif;
    font-size: 45px;
    padding-bottom: 3vh;
    color: white;
    margin-top: -5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Testemunhos_Direita{
    background-color: white;
    height: 35vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-box-shadow: 7px 9px 13px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: 7px 9px 13px -1px rgba(0,0,0,0.51);
    box-shadow: 7px 9px 13px -1px rgba(0,0,0,0.51);
}

.icones_perfil{
    color: #ec9400;
}

.Texto_Testemunho{
    font-size: 25px;
    font-family: "Barlow Semibold", sans-serif;
}

.Perfil_Formacao{
    background-color: #f2f2f2;
    height: auto;
}

.Perfil_Info_Formacao{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.Titulo_Formacao{
    font-family: 'Barlow ExtraBold', sans-serif;
    font-size: 45px;
    color: #ec9400;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 2px solid #ec9400;
}

.Titulo_Formacao_3{
    font-family: 'Barlow ExtraBold', sans-serif;
    font-size: 45px;
    color: #ec9400;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 2px solid #ec9400;
}

.Titulo_Formacao_2{
    font-family: 'Barlow ExtraBold', sans-serif;
    font-size: 27px;
    color: #b9b9b9;
    align-self: flex-end;
    padding-bottom: 4px;
}

.Formacao_Parte_2{
    background-color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-shadow: 7px 9px 13px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: 7px 9px 13px -1px rgba(0,0,0,0.51);
    box-shadow: 7px 9px 13px -1px rgba(0,0,0,0.51);
}

.Ano_Formacao{
    font-size: 35px;
    font-family: "Barlow Semibold", sans-serif;
    margin-bottom: 3vh;
}
.Tipo_Formacao1{
    font-size: 25px;
}
.Tipo_Formacao2{
    font-size: 25px;
    font-family: "Barlow Semibold", sans-serif;
    margin-top: -1vh;
    margin-bottom: 3vh;
}
.Local_Formacao{
    font-size: 25px;
    margin-bottom: 3vh;
}
.Formacao_Concluida{
    font-size: 25px;
    font-family: "Barlow Semibold", sans-serif;
    color: #ec9400;
}

/*Empregos*/

.Body_Empregos{
    background-color: #f2f2f2;
    min-height: 69.6vh;
}

.Emprego_Listado{
    background-color: white;
    padding: 15px 0;
    border-radius: 10px;
}

.Emprego_List_Info_Princ{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Emprego_List_Info_Princ_Final{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Emprego_List_Info_Princ_Imagem{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Area_Emprego{
    padding: 5px 20px;
    background-color: #f2f2f2;
    font-family: 'Barlow Semibold', sans-serif;
    border-radius: 5px;
}

.Titulo_Emprego_List{
    font-family: 'Barlow Semibold', sans-serif;
    font-size: 17px;
}

.Info_Emprego_List{
    font-family: 'Barlow Semibold', sans-serif;
    color: #797c80;
}

.Empregos_Criar_Conta{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Imgs/Bee_Empregos.jpeg");
    background-size: 100% auto;
    background-position: center;
    border-radius: 10px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.Empregos_Criar_Conta_Titulo{
    margin-bottom: 8vh;
    font-family: 'Barlow ExtraBold', sans-serif;
}

.Empregos_Criar_Conta_Texto{
    font-size: 18px;
}

.Emprego_But_Criar_Conta{
    font-family: 'Barlow', sans-serif;
    background-color: #ec9400;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 50px;
}

.Empregos_List_Imagem{
    height: 120px;
    width: auto;
    border-radius: 60px;
}

/* Detalhes Emprego */

.Main_Detalhes_Emprego{
    background-color: white;
    padding: 15px 0;
    border-radius: 10px;
    /*-webkit-box-shadow: 10px 10px 20px -3px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 20px -3px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 20px -3px rgba(0,0,0,0.3);*/
}

.Info_Emprego_Detalhes{
    margin-top: -5px;
    font-family: 'Barlow Semibold', sans-serif;
    font-size: 15px;
    color: black;
}

.Body_Detalhes_Empregos{
    background-color: #f2f2f2;
    min-height: 79.6vh;
    overflow: hidden;
}

.Emprego_Det_But_Criar_Conta{
    font-family: 'Barlow Semibold', sans-serif;
    background-color: #ec9400;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 50px;
}

.voltar{
    font-size: 20px;
    font-family: 'Barlow Semibold', sans-serif;
    vertical-align: middle;
}

/* Criar Anúncio Freelance */

.Criar_Freelance {
    background-color: #f2f2f2;
    width: 100vw;
}

.Criar_Freelance_Inicial{
    text-align: center;
}

.Criar_Freelance_Titulo{
    font-family: 'Barlow ExtraBold', sans-serif;
    color: #ec9400;
}

.Criar_Freelance_Texto{
    font-family: 'Barlow Semibold', sans-serif;
    font-size: 17px;
}

.Criar_Freelance_Meio{
    background-color: white;
}

.Criar_Freelance_Meio_Itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.Criar_Freelance_Meio_Texto{
    font-family: 'Barlow Semibold', sans-serif;
    font-size: 16px;
    padding-top: 10px;
}

.Criar_Freelance_Meio_Texto2{
    font-size: 14px;
    padding-top: 10px;
}

.Criar_Freelance_Final_Imagem{
    max-height: 300px;
    width: auto;
    border-radius: 5px;
}

.Escolha_Area {
    background-color:#ffffff;
    border-radius:10px;
    border:1px solid #000000;
    color:#000000;
    font-size:17px;
    padding:5px 0;
    text-decoration:none;
    font-family: "Barlow Semibold", sans-serif;
}
.Escolha_Area:hover {
    background-color:#ffffff;
}

.Criar_Freelance_Final_Escolha_Titulo{
    font-family: "Barlow Semibold", sans-serif;
    font-size:17px;
    margin-bottom: -10px;
}

.fila_botoes {
    margin-left: 0;
    padding-left: 0;
    display: flex;
}

.Criar_Freelance_Inicial_2{
    background-image: url("Imgs/imgfooter.jpg");
    background-size: 100% auto;
    height: 50vh;
    width: auto;
    text-align: center;
}

.Criar_Freelance_Inicial_Centrar{
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.Criar_Freelance_Titulo_2{
    font-family: 'Barlow ExtraBold', sans-serif;
    color: #ec9400;
}

.Criar_Freelance_Texto_2{
    font-family: 'Barlow Semibold', sans-serif;
    font-size: 17px;
    color: white;
}

.Criar_Freelance_Meio_2{
    background-color: white;
    border-radius: 10px;
    margin-top: -10vh;
}

.Criar_Freelance_Meio_2_Inicial{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Criar_Freelance_Meio_2_Inicial_Titulo{
    font-family: 'Barlow Semibold', sans-serif;
}

.Criar_Freelance_Meio_2_Inicial_Anuncio{
    margin-bottom: -10px;
    margin-top: 5px;
}

.Criar_Freelance_Meio_2_Info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Area_Freelance{
    padding: 7px 30px;
    background-color: white;
    border: #ec9400 solid 1px;
    font-family: 'Barlow Semibold', sans-serif;
    border-radius: 5px;
}

.Titulo_Emprego_List_2{
    font-family: 'Barlow Semibold', sans-serif;
    font-size: 21px;
}

.Titulo_Emprego_List_3{
    font-family: 'Barlow Semibold', sans-serif;
    font-size: 19px;
}

.Info_Emprego_List_2{
    font-family: 'Barlow Semibold', sans-serif;
}

/* Editar perfil */

.Editar_Perfil_Body{
    background-color: #f2f2f2;
    width: 100vw;
    min-height: 79.6vh;
}

.Escolha_Editar_Perfil{
    background-color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Editar_Perfil_Main{
    background-color: white;
    border-radius: 10px;
}

.Item_Escolha_Editar_Perfil{
    font-family: 'Barlow Semibold', sans-serif;
    font-size: 16px;
    border-bottom: #f2f2f2 solid 1px;
    width: 100%;
}

.Div_But_Adicionar_Campos{
    text-align: center;
}

.But_Adicionar_Campos {
    background-color:#ffffff;
    border-radius:6px;
    border:1px solid #000000;
    display:inline-block;
    text-align: center;
    cursor:pointer;
    color:#000000;
    font-family:'Barlow Semibold', sans-serif;
    font-size:17px;
    padding:10px 0;
    text-decoration:none;
}
.But_Adicionar_Campos:active {
    position:relative;
    top:1px;
}

.Editar_Perfil_Titulo{
    font-family: 'Barlow Semibold', sans-serif;
}

/* Perfil Empresa */

.Perfil_Empresa_Inicial{
    min-height: 100vh;
    width: auto;
}

.Perfil_Empresa_Info_Inicial{
    background-color: black;
    color: white;
    height: auto;
    position: relative;
    top: 50%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    transform: translateY(-50%);
    -webkit-box-shadow: 7px 9px 13px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: 7px 9px 13px -1px rgba(0,0,0,0.51);
    box-shadow: 7px 9px 13px -1px rgba(0,0,0,0.51);
}

.Foto_Perfil_Empresa{
    width: auto;
    height: 300px;
    border-radius: 150px;
    margin-top: -70px;
    -webkit-box-shadow: 10px 10px 20px -3px rgba(0,0,0,0.42);
    -moz-box-shadow: 10px 10px 20px -3px rgba(0,0,0,0.42);
    box-shadow: 10px 10px 20px -3px rgba(0,0,0,0.42);
}

.Ver_Candidatos_Perfil{
    position: absolute;
    bottom: 0;
}

.Area_Emprego2{
    padding: 5px 30px;
    background-color: #ec9400;
    color: white;
    font-family: 'Barlow Semibold', sans-serif;
    border-radius: 5px;
}

.Empresa_But_Criar_Anuncio{
    font-family: 'Barlow', sans-serif;
    background-color: #ec9400;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 50px;
    float: right;
}

/* Criadores */

.Body_Criadores{
    background-color: #f2f2f2;
    min-height: 69.6vh;
}

.card_Criadores{
    background-color: white;
    height: auto;
    width: auto;
    box-shadow: none;
    border: none;
}

.card_Imagem{
    height: auto;
    width: 70%;
    border-radius: 7px;
}

.card_body2{
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.card_body2_P2{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-family: "Barlow Semibold", sans-serif;
    color: #8f9296;
}

.card_PT2{
    position: relative;
    background: #fff;
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: none;
}

.card_Criadores:hover .card_PT2{
    display: flex;
    background-color: white!important;
    color: black!important;
}

.card_Criadores:hover .card_body2{
    background-color: #ec9400;
}

.card_Criadores:hover .card_body2_P2{
    color: white;
}

.Criador_But_Ver_Perfil{
    font-family: 'Barlow', sans-serif;
    background-color: #ec9400;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 7px 30px;
}

/* Criar Projeto */

.body_CriarProjeto{
    background-color: #f2f2f2;
    min-height: 69.6vh;
}

.but_Adicionar_arquivo{
    background-color: white;
    font-family: 'Barlow Semibold', sans-serif;
    font-size: 16px;
    width: 100%;
}

.area_PreVisualizar{
    background-color: white;
    height: auto;
    border-radius: 10px;
}

.titulo_NovoProjeto{
    font-family: "Barlow ExtraBold", sans-serif;
    font-size: 70px;
}

.titulo_SubtituloProjeto{
    font-family: "Barlow SemiBold", sans-serif;
    font-size: 25px;
}


.explicacaoCriarProjeto{
    border: black solid 1px;
    border-radius: 10px;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.barra_criar{
    max-width: 100vw;
    background-color: white;
    font-size: x-large;
    color: black;
    min-height: 10vh;
    -webkit-box-shadow: 0px 10px 56px -16px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 10px 56px -16px rgba(0,0,0,0.31);
    box-shadow: 0px 10px 56px -16px rgba(0,0,0,0.31);
    text-align: center;
}

.botoes_barra_criar:hover{
    background-color: #ffffff;
}

/* Animações */
    /* BOTÕES */
*, *:before, *:after{
    box-sizing: border-box;
}
.P_Ini_button:hover {
    background: #d56d00;
    -webkit-box-shadow: 0px 11px 20px -3px rgba(0, 0, 0, 0.92);
    box-shadow: 0px 11px 20px -3px rgba(0, 0, 0, 0.92);
    transition: all 0.4s ease-in-out;
}

.P_Ini_button:hover:before{opacity: 1; transform: translate(0,0);}
.P_Ini_button:before{
    content: attr(data-hover);
    letter-spacing: 0.5px;
    opacity: 0;
    left: 20%;
    position: absolute;
    text-align: center;
    font-family: "Barlow SemiBold";
    transition: all 0.4s ease-in-out;
}

.P_Ini_button:hover div {
    opacity: 0;
    transform: translate(100%, 0);
}
.P_Ini_button div{
    transition: all 0.4s ease-in-out;
}
.P_Ini_button_P:hover {
    background: #d56d00;
    font-family: "Barlow SemiBold";
    -webkit-box-shadow: 0px 11px 20px -3px rgba(20, 20, 20, 0.50);
    box-shadow: 0px 11px 20px -3px rgba(20, 20, 20, 0.50);
    transition: all 0.4s ease-in-out;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

}
@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 976px) {

}

@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 375px) {

}