* {
    font-family: 'Barlow', sans-serif;
}

/*Navbar*/
.logo {
    font-family: 'Barlow Bold', sans-serif;
    font-size: xx-large;
    letter-spacing: 1.2pt;
    font-weight: 600;
    color: #ec9400;
}
.logo:hover{
    text-decoration: none;
    color: #ec9400;  
}
.links {
    font-size: large;
    margin-right: 3em;
}
.links:hover {
    text-decoration: none;
    color: #ec9400;  
}

/*Footer*/
.footer-distributed {
  background-color: black;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 40px 50px;
}
.footer-distributed .footer-left{
    margin-top: 10px;
}
.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
}
.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}
.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}
.footer-distributed p.footer-links a:hover {
    text-decoration:none;
    color: #ec9400;
}
.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}
.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color:black;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 10px;
  transition:all .25s;
}
.footer-distributed .footer-right img {
    margin-top: -10px;
    margin-left: 10px;
}
.footer-distributed .footer-right a:hover {
    transform:scale(1.1); 
    -webkit-transform:scale(1.1);
    color: #ec9400;
}

/* Página Principal */
.pagP {
    overflow: hidden;
}

.inicial {
    background-image: url("Imgs/pi.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 91vh;
    width: 100vw;
}

.final {
    background-image: url("Imgs/imgfooter.jpg");
    background-size: 100% auto;
    background-position: 0 -250px;
    height: 90vh;
    width: 100vw;
}

.P_Ini_Logo{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 4vw;
}

.P_Ini_texto{
    float: left;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
    color: white;
    font-size: 50px;
    line-height: 120%;
}
.P_Ini_button{
    float: left;
    font-family: 'Barlow', sans-serif;
    position: relative;
    top: 41%;
    transform: translateY(-41%);
    background-color: #ec9400;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 70px 15px 70px;
}
.P_Ini_button_P{
    float: left;
    font-family: 'Barlow', sans-serif;
    background-color: #ec9400;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 70px 15px 70px;
}

.Cartoon{
    float: right;
    margin-right: 4vw;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
    display: inline-block;
    z-index: 1;
}
.Cartoon2{
    margin-left: 4vw;
    position: relative;
    top: 80%;
    transform: translateY(-80%);
    display: inline-block;
    z-index: 1;
}
.Cartoon3{
    float: right;
    margin-right: 4vw;
    position: relative;
    top: 20%;
    transform: translateY(-20%);
    display: inline-block;
    z-index: 1;
}
.Cartoon4{
    margin-left: 4vw;
    position: relative;
    top: 60%;
    transform: translateY(-60%);
    display: inline-block;
    z-index: 1;
}

.texto{
    position: relative;
    top: -60%;
    transform: translateY(60%);
    display: inline-block;
    margin-left: 4vw;
    z-index: 1;
    max-width: 50vw;
}
.texto2{
    float: right;
    position: relative;
    top: -40%;
    transform: translateY(40%);
    margin-right: 4vw;
    display: inline-block;
    max-width: 50vw;
    z-index: 1;
}
.texto3{
    position: relative;
    top: -110%;
    transform: translateY(110%);
    display: inline-block;
    margin-left: 4vw;
    z-index: 1;
    max-width: 50vw;
}
.texto4{
    float: right;
    position: relative;
    top: -50%;
    transform: translateY(50%);
    margin-right: 4vw;
    display: inline-block;
    max-width: 50vw;
    z-index: 1;
}
.Texto_P_Princ{
    font-size: 17px;
}

.conteudo1 {
    align-content: center;
    background-color: white;
    width: 100vw;
    height: 60vh;
    position: relative;
    z-index: 1;
}

.conteudo1:after {
    position: absolute;
    width: 100vw;
    height: 60vh;
    content: '';
    background: inherit;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(4deg);
    z-index: -1;
}

.conteudo2 {
    background-color: #f2f2f2;
    width: 100vw;
    height: 70vh;
    position: relative;
    z-index: -2;
}

.conteudo2:after {
    position: absolute;
    width: 100vw;
    height: 70vh;
    content: '';
    background: inherit;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(-4deg);
}

.conteudo3 {
    background-color: white;
    width: 100vw;
    height: 70vh;
    position: relative;
    z-index: -3;
}

.conteudo3:after {
    position: absolute;
    width: 100vw;
    height: 70vh;
    content: '';
    background: inherit;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(4deg);
}

.conteudo4 {
    background-color: #f2f2f2;
    width: 100vw;
    height: 70vh;
    position: relative;
    z-index: -4;
}


/* Página de vendas */

.Img_Vendas{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5vw;
}

.Body_Vendas {
    height: 80vh;
    width: 100vw;
}

.Texto_Vendas{
    margin: auto;
}

.Titulo_Vendas{
    font-size: 120px;
    font-weight: bold;
}

.Subtitulo_Vendas{
    margin-top: -20px;
    font-size: 40px;
}

.Texto_Vendas_2{
    margin-top: 20px;
    font-size: 18px;
}

/* Filtros */

.filtros{
    width: 100vw;
    background-color: white;
    font-size: x-large;
    color: black;
    font-family: 'Barlow Semibold', sans-serif;
    height: 10vh;
    -webkit-box-shadow: 0px 10px 56px -16px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 10px 56px -16px rgba(0,0,0,0.31);
    box-shadow: 0px 10px 56px -16px rgba(0,0,0,0.31);
    text-align: center;
}

.item_Filtro{
    margin: auto;
}

/* Projetos */
.Proj_Body{
    width: 100vw;
    height: 70vh;
    background-color: #f2f2f2;
}

.Proj_Item{
    height: 200px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 1.5rem;
    position: relative;
    display: block;
    align-items: end;
    transition: 0.4s ease-out;
}


/* SignIn */
.noscroll {
    font-family: 'Barlow', sans-serif;
    overflow: hidden;
}
.fundo {
    background-image: url("Imgs/entrar_registo.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 91vh;
    width: 100vw;
}
.box {
    color: black;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.boxIn {
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 11px 11px 38px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 11px 11px 38px 0px rgba(0,0,0,0.30);
    box-shadow: 11px 11px 38px 0px rgba(0,0,0,0.30);
}

.titulo {
    color: #f29f05;
    font-family: 'Barlow ExtraBold', sans-serif;
    font-size: 24pt;
}
.bemvindo {
    font-size: 13pt;
}
.line{
    border-top: 1px solid #f29f05;
}

/* label color */
.input-field input[type]:not([readonly]),
.input-field input[type]:focus:not([readonly]),
.input-field textarea:not([readonly]),
.input-field textarea:focus:not([readonly]) {
    border-bottom: 1px solid #000000;
    box-shadow: 0 1px 0 0 #000000;
}

.input-field input[type]:focus:not([readonly])+label,
.input-field textarea:focus:not([readonly])+label {
    color: #F27405;
}

.btnIn{
    background-color: #f29f05 !important;
    border-radius: 4px;
    color: white !important;
}
.btnIn:hover {
    background-color: #F27405 !important;
}